/* Global styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.container {
width:100%;
padding: 20px 20px;
}           

/* Navigation styles */
.navigation-bar {
width: 100%vw;  
height: 80px; 
padding:30px 30px;
background-color: floralwhite;
}

.logo {
display: inline-block;
vertical-align: top;
width: 70px;
height: 70px;
margin: 10px 20px;

}

.navigation-bar > a {
text-decoration: none;
float: right;
vertical-align: top;
margin: 30px 20px;
height: 80px;     
color: #2c2c2c;
}

.navigation-bar > a:hover {
color: #F3705A;
}
.dropdown{
    display: none;
}
/* Hero Section styles */
.hero {
background-color: floralwhite;
color: #2c2c2c;
padding: 100px 0;
}

.container {
max-width: 100%;
margin: 0 auto;
padding: 0 20px;
}

.hero-content {
    margin: 10px 20px;

display: grid;
grid-template-columns: 1fr 1fr; 
align-items: center;
gap: 20px; 
}

.hero-text {
text-align: left;
}

.hero h1 {
font-size: 36px;
margin-bottom: 20px;
line-height: 40px;
font-weight: 400;

}

.cta-button {
display: inline-block;
padding: 15px 30px;
margin-top: 30px;
background-color: #2F6858;
color: floralwhite;
text-decoration: none;
font-weight:500;
border-radius: 5px;
transition: background-color 0.3s ease;
}

.cta-button:hover {
background-color: #F3705A;
}

.hero-image img {
max-width: 100%;
height: auto;
margin-top: 30px;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Style for the skills section */
.skills-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 36px 0; /* 24px top and bottom margin */
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    text-align: center;
    border-radius: 16px;
    
}

/* Style for each skill container */
.skill {
    text-align: center;
    padding: 20px;
    background-color: #FDEADD;
    border-radius: 16px;
}

/* Apply background color to specific columns */
.skill:nth-child(2) {
    background-color: #FDEADD;
}

.skill:nth-child(3) {
    background-color: #FDEADD;
}

/* Style for icons */
.skill img {
    width: 80px;
    height: 60px;
    object-fit: contain;
    display: block;
    margin: 0 auto 16px;
}

/* Style for titles */
.skill h3 {
    font-size: 18px;
    margin-bottom: 16px;
}

/* Style for paragraph text */
.skill p {
    font-size: 14px;
    color: #777;
}

/* Style for the My Work section */
.my-work {
    text-align: center;
}

/* Style for the section title */
.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

/* Style for each work card */
.work-card {
    display: flex;
    align-items: center;
    margin: 16px 24px;
    background-color: floralwhite;
    border-radius: 16px;
}

/* Style for work card images */
.work-card img {
        width: 30%; /* Set the image width to 30% of the card's width */
        height: auto; /* Maintain aspect ratio */
        border-radius: 16px 0 0 16px;
}

/* Style for work content */
.work-content {
    flex: 1;
    padding: 0 20px;
    text-align: left;
}

/* Style for work titles */
.work-content h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

/* Style for work paragraphs */
.work-content p {
    font-size: 14px;
    color: #777;
    margin-bottom: 16px;
}

/* Style for CTA buttons */
.work-content .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2F6858;
    color: floralwhite;
    text-decoration: none;
    font-weight: 500;
    border-radius: 16px;
    transition: background-color 0.3s ease;
}

.work-content .cta-button:hover {
    background-color: #F3705A;
}

/* Style for the CTA section */
.cta-section {
    text-align: center;
    color: #777;
}

/* Style for the CTA button */
.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #2F6858;
    color: floralwhite;
    text-decoration: none;
    font-weight: 700;
    border-radius: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #F3705A; /* Change color on hover */
    transform: scale(1.05); /* Add a subtle scaling effect on hover */
}



/* Footer styles */
footer {
    background-color: #2F6858;
    text-align: center;
    padding: 20px 0;
    margin-top: 24px;
    }
   h4{
    color: floralwhite;
   }

   p2{
    color: floralwhite;
   }
    .footer-container{ 
        
        background-color: #2F6858;
    }
    
    .social-media {
    list-style: none;
    margin-top: 20px;
    }
    
    .social-media li {
    display: inline;
    margin: 0 10px;
    }
    
    .social-media a {
    text-decoration: none;
    }
    
    .social-media img {
    max-width: 24px;
    max-height: 24px;
    vertical-align: middle;
    }
    
    .social-media img:hover{
    background-color:#F3705A ;
    } 
    
    .small-text{
    font-size: 10px;
    text-align: center;
    color: floralwhite;
    }   

/* Style for the loading overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

/* Style for the loading GIF */
.loading-overlay img {
    max-width: 100%; 
    height: auto; 
}



@media only screen and (max-width: 600px) {
   
    .logo {
        width: 50px; 
        height: 50px; 
        margin: 5px 10px; 
    }

/* Hamburger menu icon styles */
.menu-toggle {
    display: block;
    float: right;
    cursor: pointer;
    padding: 10px;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #2c2c2c;
    margin: 3px 0;
}

/* Dropdown menu styles */
.dropdown {
    position: absolute;
    top: 80px; 
    right: 0; 
    background-color: floralwhite;
    z-index: 1;
}

.menu-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: floralwhite;
    border: 1px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.menu-links li {
    margin: 0;
}

.menu-links a {
    text-decoration: none;
    color: #2c2c2c;
    display: block;
    padding: 10px 20px; 
    transition: background-color 0.3s ease;
}

.menu-links a:hover {
    background-color: #F3705A;
}

.dropdown.active {
    display: block;
}

    .navigation-bar > a {
        display: none; /* Hide navigation links for mobile */
    }

    /* Hamburger menu icon for mobile */
    .hamburger-icon {
        display: inline-block; /* Show the hamburger icon for mobile */
        cursor: pointer;
    }


/* Hero Section styles for mobile */
.hero {
    padding: 60px 0; /* Reduce padding for mobile */
}

.hero-content {
    display: block; /* Stack content for mobile */
    text-align: center; /* Center-align content for mobile */
}

.hero h1 {
    font-size: 28px; /* Reduce font size for mobile */
    margin-bottom: 10px; /* Reduce margin for mobile */
    line-height: 32px;
    text-align: center;
}

.cta-button {
    display: block;
    text-align: center;
    padding: 15px 30px;
    background-color: #2F6858;
    color: floralwhite;
    text-decoration: none;
    font-weight: 700;
    border-radius: 16px;
    transition: background-color 0.3s ease;
    margin: 24px;}


    /* Stacked skills for mobile */
    .skills {
        grid-template-columns: 1fr; /* Stack skills in one column for mobile */
        border-radius: 0 0 0 0;
        width:100%;

    }

    .skill {
        padding: 15px; /* Reduce padding for mobile */
        margin-bottom: 20px; /* Increase margin between skills for mobile */
        border-radius: 0 0 0 0;

    }

    /* Stacked work cards for mobile */
    .work-card {
        flex-direction: column; /* Stack work cards in one column for mobile */
       
       width:100%;
        border-radius: 0 0 0 0;

    }

    .work-card img {
        width: 100%; 
        border-radius: 0 0 0 0;

    }

    .work-content {
        padding: 15px 10px;
        text-align: center;
    }

    .work-content h3 {
        font-size: 20px; 
        margin-bottom: 8px; 
    }

    .work-content p {
        font-size: 14px; 
    }

    .work-content .cta-button {
        padding: 8px 16px; 
        margin-top: 16px;
    }

    /* CTA section for mobile */
    .cta-section {
        padding: 20px 0; 
        margin:auto 0;
    }

    
    footer {
        padding: 10px 0; 
    }

    h2{ 
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .social-media li {
        margin: 0 8px; 
    }

    .small-text {
        font-size: 8px;
    }
}
